.image-groupe{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;

}

.image-groupe img{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-size: cover;
    transition: 0.5s;

}
.image-groupe  img:nth-child(1){
    transform: translateX(50%) scale(2);
    opacity: 0;
    filter: blur(10px);

}

.image-groupe:hover  img:nth-child(1){
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: blur(0);

}

.image-groupe:hover img:nth-child(2){
    transform: translateX(-50%) scale(2);
    opacity: 0;
    filter: blur(10px);

}